@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Noto Sans", serif;
}

img { border: 0;}

body, nav, section, header, main, footer, h1, h2, p, ul, li, dl, dt, dd, div {
    margin: 0;
    padding: 0;
}

body * {
    font-family: "Noto Sans JP", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0;
}

/* 活動の様子 */

.gallery{
    background: black;
    padding: 100px 0 85px 0;
}

.gallery h2{
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    margin-bottom: 160px;
    font-weight: 400;
}

.swiper {
    width: 100vw;
    text-align: center;
    height: 600px;
}

.swiper-slide img{
    width: 45vw;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 13px;
}

.swiper-pagination-bullet {
    background-color: #FFF;
    height: 35px;
    width: 35px;
}

/* 体験・入会希望 */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3%;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.contact-wrapper{
    padding: 77px 0 99px 0;
}

.contact-wrapper > .flex-wrapper{
    justify-content: space-between;
}

.flex-wrapper{
    display: flex;
}

.form-title{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    text-align: center;
    margin-bottom: 110px;
    font-weight: 400;
}

.sns-links-wrapper{
    padding: 62px 37px 74px 36px;
    background: black;
    border-radius: 10px;
    max-width: 600px;
}

.sns-links-wrapper h3{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
}

.sns-link-wrap{
    display: block;
    background: #FFF;
    padding: 37px 5px 37px 27px;
    border-radius: 10px;
}

.sns-link-wrap:nth-of-type(1){
    margin: 56px 0 35px 0;
}

.sns-link-wrap .flex-wrapper{
    align-items: center;
}

.sns-link-wrap img{
    aspect-ratio: 1/1;
    width: min(8vw, 120px);
}

.sns-link-wrap p{
    color: #000;
    font-family: Inter;
    font-weight: 400;
    font-size: min(2.7vw, 30px);
    margin-left: 13px;
}

form{
    width: 100%;
    padding: 69px 0 0 60px;
}

select{
    width: 100%;
    height: 52px;
    border-radius: 10px;
    font-size: 32px;
    color: #7A7777;
}

.changed{
    color: black;
}

input{
    width: 100%;
    height: 52px;
    font-size: min(2.7vw, 32px);
    border-radius: 10px;
    border: 1px solid black;
}

form ul li:nth-of-type(2){
    position: relative;
    padding: 21px 0 27px;
}

form ul li:nth-of-type(2) input{
    background: transparent;
}

#placeholder{
    color: #7A7777;
    font-family: Inter;
    font-size: min(2.7vw, 32px);
    position: absolute;
    top: 30%;
    z-index: -1;
}

#placeholder span{
    color: #F92873;
    font-size: min(2.7vw, 32px);
}

::placeholder{
    font-family: Inter;
    font-size: min(2.7vw, 32px);
}

textarea{
    resize: none;
    padding: 16px;
    font-size: min(2.7vw, 32px);
    border-radius: 10px;
    width: 100%;
    height: 407px;
}

form ul li:last-child input{
    width: 148px;
    height: 68px;
    background: black;
    color: white;
    border-radius: 20px;
    margin: 16px 0 0 auto;
    display: block;
    font-size: 30px;
}

/* footer */
footer{
    height: 57px;
    background: black;
    display: grid;
    place-items: center;
}

footer p{
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .gallery{
        padding: 18px 0 28px 0;
    }

    .gallery h2{
        font-size: 24px;
        margin-bottom: 15px;
    }

    .swiper{
        height: 220px;
    }

    .swiper-pagination-fraction{
        color: #fff;
    }

    .container{
        max-width: 370px;
    }

    .contact-wrapper{
        padding: 36px 0 60px 0;
    }

    .form-title{
        font-size: 18px;
        margin-bottom: 38px;
    }

    .contact-wrapper > .flex-wrapper {
        flex-direction: column-reverse;
    }

    form{
        padding: 0 0 37px 0;
    }

    select{
        font-size: 20px;
    }

    #placeholder{
        font-size: 20px;
        top: 30%;
    }

    #placeholder span{
        font-size: 20px;
    }

    form ul li:nth-of-type(2){
        padding: 8px 0 8px;
    }

    textarea{
        font-size: 20px;
        padding: 6px 12px;
    }

    textarea::placeholder{
        font-size: 20px;
    }

    form ul li:last-child input{
        width: 100%;
        height: 35px;
        font-size: 20px;
        font-weight: 400;
    }

    .sns-links-wrapper{
        background: transparent;
        padding: 0;
    }

    .sns-links-wrapper h3{
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .sns-links-wrapper h3 br{
        display: none;
    }

    .sns-link-wrap{
        padding: 0;
        border-radius: 30px;
        border: 1px solid #7A7777;
    }

    .sns-link-wrap:nth-of-type(1){
        margin: 44px 0 17px 0;
    }

    .sns-link-wrap img{
        width: 50px;
    }

    .sns-link-wrap p{
        font-size: 20px;
        margin-left: 10px;
    }

    footer{
        height: 40px;
    }
}