@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Noto Sans", serif;
}

img { border: 0;}

body, nav, section, header, main, footer, h1, h2, p, ul, li, dl, dt, dd, div {
    margin: 0;
    padding: 0;
}

body * {
    font-family: "Noto Sans JP", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.6rem;
    margin: 0;
}

/* 活動内容 */

.konpiarubamu_title_mobile{
    display: none;
}



.katudounoyousu_title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 80px ;
    font-weight: 500 ;
}

.katudounaiyou {
    width: 90vw;
    display: flex;
    margin: 40px auto 100px auto;
}

.katudounaiyou_1 {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.katudounaiyou_mobile {
    display: none;
}

.katudounaiyou_1_mobile {
    width: 90vw;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

.katudounaiyou_2_mobile {
    width: 90vw;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin: 5px 0;
}

.katudounaiyou_2_mobile h2 {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.katudounaiyou_3_mobile {
    width: 90vw;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin: 5px 0;
}

.katudounaiyou_title{
    height: 100px;
    width: 400px;
    display: flex;
    vertical-align: baseline;
    justify-content: center;
}

.katudounoyousu_title h1{
    font-size: 60px;
    font-weight: 500;
    margin: 40px 0 0 0;
}

.katudounaiyou img{
    width: 24vw;
}

.katudounaiyou_title h2{
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

    
}

.katudounaiyou h3{
    width: 24vw;
    text-align: left;
    font-size: 20px;
    margin: 30px 0 0 0;
}

.katudounaiyou_h2 {
    font-size: 25px !important;
    text-align: center;
    align-items: center;
}

/* 活動の様子 */

.gallery{
    background: black;
    padding: 100px 0 85px 0;
}

.gallery h2{
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    margin-bottom: 160px;
    font-weight: 400;
}

.swiper {
    width: 100vw;
    text-align: center;
    height: 600px;
}

.swiper-slide img{
    width: 45vw;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 13px;
}

.swiper-pagination-bullet {
    background-color: #FFF;
    height: 35px;
    width: 35px;
}

/* アルバム紹介ページ */

.konpiarubamu{
    width: 100vw;
    height: calc(100vw * 0.4);
    background-color: black;
    margin: 30px auto 0 auto;
    display: flex;
    align-items: center;
}

.konpiarubamu_wrapper {
    width: 90%;
    height: calc(90vw * 0.3);
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.zyakesya {
    width: 30%;
    height: clac(100vw * 0.3);
}

.zyakesya img {
    background-color: #7A7777;
}

.konpiarubamu_contents{
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zyakesya img {
    width: 100%;
}

.konpiarubamu_contents h1{
    color: white;
    font-size: calc(100vw * 0.0333);
    font-weight: bold;
    margin: 10px 0;
}

.konpiarubamu_contents h2{
    color: white;
    margin: 0;
    font-size: calc(100vw * 0.021);
}

.konpiarubamu_contents p{
    width: 90%;
    color: white;
    text-align: left;
    font-size: calc(100vw * 0.017);
    font-weight: bold;
    margin: 10px 0 0 0;
}

.konpiarubamu_contents button {
    width: 90%;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 25px;
    font-size: 20px;
    margin: 20px 0 0 0;
}

.konpiarubamu_contents a{
    color: white;
    text-decoration: underline;
    margin: 20px 0 0 0;
}

.releasepageseni{
    width: 100vw;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

.releasepageseni p{
    width: 90vw;
    margin: 30px auto;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.releasepageseni button{
    width: 600px;
    height: 80px;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-size: 30px;
}

/* アーティスト紹介 */

.artists {
    width: 100vw;
    text-align: center;
    margin: 20px auto;
}

.artists h1 {
    width: 100vw;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
}

.artists_contents {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.artists_contents_mobile {
    display: none;
}

.artists_contents img {
    width: 28vw;
}

.artists_contents h2 {
    font-size: 30px;
    font-weight: bold;
}

.artists_contents h3 {
    text-align: left;
    width: 28vw;
}

.artist1 {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist2 {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist3 {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artists button {
    width: 600px;
    height: 80px;
    background-color: black;
    color: white;
    font-size: 25px;
    margin: 50px auto 0 auto;
}


/* 体験・入会希望 */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3%;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.contact-wrapper{
    padding: 77px 0 99px 0;
}

.contact-wrapper > .flex-wrapper{
    justify-content: space-between;
}

.flex-wrapper{
    display: flex;
}

.form-title{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    text-align: center;
    margin-bottom: 110px;
    font-weight: 400;
}

.sns-links-wrapper{
    padding: 62px 37px 74px 36px;
    background: black;
    border-radius: 10px;
    max-width: 600px;
}

.sns-links-wrapper h3{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
}

.sns-link-wrap{
    display: block;
    background: #FFF;
    padding: 37px 5px 37px 27px;
    border-radius: 10px;
}

.sns-link-wrap:nth-of-type(1){
    margin: 56px 0 35px 0;
}

.sns-link-wrap .flex-wrapper{
    align-items: center;
}

.sns-link-wrap img{
    aspect-ratio: 1/1;
    width: min(8vw, 120px);
}

.sns-link-wrap p{
    color: #000;
    font-family: Inter;
    font-weight: 400;
    font-size: min(2.7vw, 30px);
    margin-left: 13px;
}

form{
    width: 100%;
    padding: 69px 0 0 60px;
}

select{
    width: 100%;
    height: 52px;
    border-radius: 10px;
    font-size: 32px;
    color: #7A7777;
}

.changed{
    color: black;
}

input{
    width: 100%;
    height: 52px;
    font-size: min(2.7vw, 32px);
    border-radius: 10px;
    border: 1px solid black;
}

form ul li:nth-of-type(2){
    position: relative;
    padding: 21px 0 27px;
}

form ul li:nth-of-type(2) input{
    background: transparent;
}

#placeholder{
    color: #7A7777;
    font-family: Inter;
    font-size: min(2.7vw, 32px);
    position: absolute;
    top: 30%;
    z-index: -1;
}

#placeholder span{
    color: #F92873;
    font-size: min(2.7vw, 32px);
}

::placeholder{
    font-family: Inter;
    font-size: min(2.7vw, 32px);
}

textarea{
    resize: none;
    padding: 16px;
    font-size: min(2.7vw, 32px);
    border-radius: 10px;
    width: 100%;
    height: 407px;
}

form ul li:last-child input{
    width: 148px;
    height: 68px;
    background: black;
    color: white;
    border-radius: 20px;
    margin: 16px 0 0 auto;
    display: block;
    font-size: 30px;
}

/* footer */
footer{
    height: 57px;
    background: black;
    display: grid;
    place-items: center;
}

footer p{
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {

    /*活動内容*/

    .katudounaiyou {
        display: none;
    }

    .katudounoyousu_title h1{
        font-size: 35px;
        font-weight: 500;
        margin: 30px 0;
    }

    .katudounaiyou_mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .katudounaiyou_title_mobile_2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .katudounaiyou_title_mobile {
        width: 100%;
        text-align: center;
    }

    .katudounaiyou_mobile img {
        width: 80%;
    }

    .katudounaiyou_mobile h2 {
        width: 80%;
        font-size: 20px;
        text-align: center;
        align-items: center;
        font-weight: 1000;
        margin: 15px auto;
    }

    .katudounaiyou_title_mobile_2 h2 {
        width: 80%;
        font-size: 18px;
        text-align: center;
        align-items: center;
        font-weight: 1000;
        margin: 15px auto;
    }

    .katudounaiyou_mobile h3 {
        width: 80%;
        font-size: 15px;
        font-weight: 500;
        margin: 15px auto;
    }

    .katudounaiyou_title_mobile_2 h3 {
        width: 80%;
        font-size: 15px;
        font-weight: 500;
        margin: 15px auto;
    }

    .katudounaiyou_mobile_h2_2 {
        width: 100%;
        font-size: 20px;
        text-align: left;
        font-weight: 500;
    }

    .zyakesya {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .konpiarubamu{
        width: 100vw;
        height: 850px;
        background-color: black;
        margin: 0 auto 0 auto;
        display: block;
    }
    
    .konpiarubamu_wrapper {
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        margin: 30px 0 0 0;
        padding-top: 40px;
    }
    
    .konpiarubamu_wrapper img {
        width: 300px;
        height: 300px;
    }
    
    .konpiarubamu_title_mobile {
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    
    .konpiarubamu_title_mobile h1 {
        color: white;
        margin: 10px 0 10px 0;
        font-size: 27px;
    }
    
    .konpiarubamu_title_mobile h2 {
        color: white;
        margin: 5px 0 0 0;
        font-size: 20px;
    }
    
    .mobile_delete {
        display: none;
    }
    
    .konpiarubamu_contents {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .konpiarubamu_contents p {
        width: 300px;
        font-size: 20px;
        font-weight: 500;
        margin: 20px 0;
    }
    
    .konpiarubamu_wrapper p {
        width: 300px;
        font-weight: 500;
        margin: 20px 0;
    }
    
    .konpiarubamu_wrapper button {
        width: 300px;
        font-weight: 500;
        margin: 10px 0;
        background-color: #fff;
    }
    
    .konpiarubamu_wrapper a {
        width: 300px;
        font-weight: 500;
        margin: 10px 0;
    }

    .releasepageseni {
        width: 100vw;

    }

    .releasepageseni p{
        width: 90vw;
        font-size: 20px;
    }

    .releasepageseni button {
        width: 90vw;
        font-size: 25px;
        height: 60px;
    }

    .artists {
        width: 90vw;
    }

    .artists h1{
        width: 100%;
        font-size: 25px;
    }

    .artists_contents{
        display: none;
    }

    .artists_contents_mobile{
        display: block;
    }

    .artists_contents_mobile button {
        width: 90vw;
        height: 100px;
        display: flex;
        padding: 0;
        border: none;
        background-color: gray;
        margin: 20px 0 0 0;
    }

    .artists_contents_mobile button img {
        width: 100px !important;
        height: 100px;
        margin: 0;
        background-color: blue;
    }

    .artists_contents_mobile button p {
        width: calc(100% - 100px);
        height: 100px;
        text-align: center;
        margin:  0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: black;
    }

    .artists .hokanoartists {
        width: 90vw;
        height: 60px;
        font-size: 20px;
    }



    .gallery{
        padding: 18px 0 28px 0;
    }

    .gallery h2{
        font-size: 24px;
        margin-bottom: 15px;
    }

    .swiper{
        height: 220px;
    }

    .swiper-pagination-fraction{
        color: #fff;
    }

    .container{
        max-width: 370px;
    }

    .contact-wrapper{
        padding: 36px 0 60px 0;
    }

    .form-title{
        font-size: 18px;
        margin-bottom: 38px;
    }

    .contact-wrapper > .flex-wrapper {
        flex-direction: column-reverse;
    }

    form{
        padding: 0 0 37px 0;
    }

    select{
        font-size: 20px;
    }

    #placeholder{
        font-size: 20px;
        top: 30%;
    }

    #placeholder span{
        font-size: 20px;
    }

    form ul li:nth-of-type(2){
        padding: 8px 0 8px;
    }

    textarea{
        font-size: 20px;
        padding: 6px 12px;
    }

    textarea::placeholder{
        font-size: 20px;
    }

    form ul li:last-child input{
        width: 100%;
        height: 35px;
        font-size: 20px;
        font-weight: 400;
    }

    .sns-links-wrapper{
        background: transparent;
        padding: 0;
    }

    .sns-links-wrapper h3{
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .sns-links-wrapper h3 br{
        display: none;
    }

    .sns-link-wrap{
        padding: 0;
        border-radius: 30px;
        border: 1px solid #7A7777;
    }

    .sns-link-wrap:nth-of-type(1){
        margin: 44px 0 17px 0;
    }

    .sns-link-wrap img{
        width: 50px;
    }

    .sns-link-wrap p{
        font-size: 20px;
        margin-left: 10px;
    }

    footer{
        height: 40px;
    }
}